body {
    font-family: Roboto, sans-serif;
    text-align: center;
    background-color: #fbf6e2;
    margin: 0;
    padding: 0;
    color: #000000; /* Adjust text color for contrast */
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5); /* Add transparency to make the text more readable */
    padding: 20px;
    border-radius: 10px;
}


h1 {
  color: #4169e1;
  margin: 0;
}

.hero-section {
  padding: 50px 20px;
 
}

.hero-content {
  max-width: 800px;
  margin: auto;
}

.button-group {
  margin-top: 20px;
}

.features-section, .about-section {
  padding: 50px 20px;
  
}

h2 {
  margin-bottom: 20px;
  color: #c0a539;
}

.feature-grid {
  display: flex; /* Activate Flexbox */
    justify-content: center; /* Center horizontally */
    gap: 20px; /* Adjust the spacing between boxes */
    flex-wrap: wrap; /* Allows the boxes to wrap to the next line if needed */
     grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  
}

.feature-item {
  background-color: rgba(245, 232, 181, 0.6); /* Semi-transparent background */
    border-radius: 15px; /* Round the corners for aesthetics */
    padding: 20px; /* Adds space inside the element */
    margin: 15px 0; /* Space between the feature boxes */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    
}

.button-85 {
  
   display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1em;
    color: white;
    transition: background-color 0.3s ease;
}

.button:hover {
 opacity: 0.8;
}
.usualbutton {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1em;
    color: white;
      background: #4169e1;
    transition: background-color 0.3s ease;
    
  
}
.redbutton {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1em;
    color: white;
    background: #de0a26;
    transition: background-color 0.3s ease;
    }

.purple {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1em;
    color: white;
    background: #7289da;
    transition: background-color 0.3s ease;
    }
