body {
    font-family: Roboto, sans-serif;
    text-align: center;
    background-image: url('background.png'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: contain; /* Centers the image both horizontally and vertically */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-color: #000; /* Fallback color in case image doesn't cover the entire screen */
    margin: 0;
    padding: 0;
    color: #fff; /* Adjust text color for contrast */
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5); /* Add transparency to make the text more readable */
    padding: 20px;
    border-radius: 10px;
}


h1 {
  color: #4169e1;
  margin: 0;
}

.hero-section {
  padding: 50px 20px;
 
}

.hero-content {
  max-width: 800px;
  margin: auto;
}

.button-group {
  margin-top: 20px;
}

.features-section, .about-section {
  padding: 50px 20px;
  
}

h2 {
  margin-bottom: 20px;
  color: #bada55;
}

.feature-grid {
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.feature-item {
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blurs the background behind the element */
    border-radius: 15px; /* Round the corners for aesthetics */
    padding: 20px; /* Adds space inside the element */
    margin: 15px 0; /* Space between the feature boxes */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    
}

.button-85 {
  
   display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1em;
    color: white;
    transition: background-color 0.3s ease;
}

.button:hover {
 opacity: 0.8;
}
.usualbutton {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1em;
    color: white;
      background: #4169e1;
    transition: background-color 0.3s ease;
    
  
}
.redbutton {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1em;
    color: white;
    background: #de0a26;
    transition: background-color 0.3s ease;
    }
