body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background-color: #50b3a2;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #2980b9 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 15px;
}

header ul {
    list-style: none;
    padding: 0;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header nav {
    float: right;
    margin-top: 10px;
}

.hero {
    background: #e2e2e2;
    color: #333;
    padding: 60px 0;
    text-align: center;
}

.button {
    display: inline-block;
    color: #fff;
    background-color: #50b3a2;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 40px;
}

.button:hover {
    background-color: #3b8d8a;
}

section {
    padding: 20px 0;
}

footer {
    background-color: #50b3a2;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}
